button {
  color: black;
  border: 0px;
  background: #eee;
  height: 30px;
  line-height: 16px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #bbb;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background: #ddd;
    border-top: 2px solid #ddd;
  }

  &.selected {
    color: white;
    background: #999;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #999;
  }

  &.notify {
    background: $orange;
    border-top-color: $orange;
    border-bottom-color: $orange-dark;
  }

  &.disabled {
    color: #aaa;
  }

  &.positive {
    background: $green;
    border-top-color: $green;
    border-bottom-color: $green-dark;
    width: 35px;
  }

  &.negative {
    background: $red;
    border-top-color: $red;
    border-bottom-color: $red-dark;
    width: 35px;
  }

  &:focus {
    outline: 0;
  }
}
