.hero {
  width: 100%;
  background: #444;
  border-bottom: 2px solid #222;
  margin-bottom: 5px;

  .hero-inner {
    padding: 5px;

    .hero-name {
      font-weight: bold;
      margin-right: 10px;
    }

    .level {
    }

    .variation {
      float: right;
      height: 0px;
      font-size: 30px;
    }

    .options {
      visibility: hidden;
      float: right;
      margin-top: 5px;
    }

    .exp {
      .numbers {
        text-align: right;
        font-size: 12px;
      }

      .bar-outer {
        background: rgba(255, 255, 255, 0.1);

        .bar-inner {
          height: 5px;
          background: red;
        }
      }
    }

    .clear {
      clear: both;
    }
  }

  &:hover {
    .hero-inner {
      .options {
        visibility: visible;
      }
    }
  }
}
