.log {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 1%;
  width: 30%;

  .log-area {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-right: 2%;
    overflow-y: scroll;

    .entry {
      font-size: 12px;
      margin: 2px 0px;

      .log-header {
        display: block;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        text-shadow: 0px 2px #222;
      }

      .log-note {
        display: block;
        background: #444;
        color: white;
        border-radius: 10px;
        padding: 2px 10px;
        margin: 10px 0px;
        border-bottom: 2px solid #222;
      }
    }
  }

  .battle-summary-container {
    .battle-summary {
      background: #444;
      width: 100%;
      border-bottom: 2px solid #222;

      .member-name {
        font-weight: bold;
      }

      .health {
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid #222;

        .health-bar {
          height: 5px;
          background: $red;
        }
      }
    }
  }
}

.animations {
  .health-bar {
    transition: width 1s linear;
  }
}
