@import "./colors";
@import "./stats";
@import "./hero";
@import "./item";
@import "./button";

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-weight: 300;
  color: white;
}

body {
  background: #333;
}

b {
  font-weight: bold;
}

.log {
  float: left;
  width: 20%;
  margin-left: 5%;

  .entry {
    font-size: 12px;
  }
}

.main {
  float: left;
  width: 70%;
  margin-right: 5%;
}

#action-editor {
  width: 100% !important;
}

.ace_editor,
.ace_editor * {
  font-family: monospace !important;
}
