@import "./battle";
@import "./button";
@import "./colors";
@import "./hero";
@import "./item";
@import "./log";
@import "./stats";
@import "./town";

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Sans;
  font-weight: 300;
  color: white;
}

html {
  height: 100%;
}

body {
  background: #333;
  height: 100%;
}

#app {
  height: 100%;

  > div {
    height: 100%;
  }
}

b {
  font-weight: bold;
}

h1 {
  text-shadow: 0px 2px #222;
  margin-bottom: 5px;
}

.fa {
  color: inherit;
}

.main {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 32%;
  right: 1%;

  .main-content {
    position: absolute;
    top: 50px;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow-y: auto;
  }
}

#action-editor {
  width: 100% !important;
}

.ace_editor,
.ace_editor * {
  font-family: monospace !important;
}
