.stats {
  .stat {
    float: left;
    margin-right: 10px;
    margin-top: 5px;

    .name {
      font-size: 12px;
    }

    .value {
      font-size: 12px;
      font-weight: bold;

      &.zero {
        opacity: 0.25;
      }
    }
  }
}

.stats-growth {
  .bar-container {
    height: 100px;
    width: 30px;
    position: relative;

    .bar {
      width: 100%;
      background: #ffffff;
      position: absolute;
      bottom: 0px;
    }
  }

  .stat-name {
    text-align: center;
    font-size: 12px;
  }
}
