.town {
  .building {
    background: #444;
    border-bottom: 2px solid #222;
    padding: 5px;
    height: 88px;

    table td {
      vertical-align: top;
    }

    .building-data {
      float: left;
      width: 50px;

      .fa-building,
      .fa-star {
        opacity: 0.5;
      }
    }

    .name {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
      color: #ccc;
    }
  }

  .job {
    background: #444;
    border-bottom: 2px solid #222;
    margin-bottom: 5px;
    padding: 5px;

    .job-data {
      float: left;
      width: 50px;

      .fa-user {
        opacity: 0.5;
      }
    }

    .name {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
      color: #ccc;
    }
  }
}
